.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 2rem;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    font-size: 24px;
    color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.card-small-container {
    display: flex;
    gap: 10px;
}

.card-small {
    flex: 1;
}

.card1 { background-color: #FFD700; } /* Yellow */
.card2 { background-color: #40E0D0; } /* Blue */
.card3 { background-color: #FF69B4; } /* Pink */
.card4 { background-color: #FFA07A; } /* Orange */

@media (max-width: 450px) {
    .container {
        flex-direction: column-reverse;
    }

    .card-small-container {
        flex-direction: row;
    }

    .card-small {
        width: 100%; /* This will make the cards stack vertically and take the full width */
        margin-bottom: 10px;
    }
}
